html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D0D15;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91.215vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3.255vh;
}

.logo {
    width: 112px;
    height: 24px;
}

.buttonNav {
    display: flex;
    align-items: center;
    gap: 1.563rem;
}

.isiButtonNav {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.pipe {
    height: 0.5rem;
    border: 0.063rem solid #EDBDE7;
    border-radius: 10%;
}

.field1 {
    display: flex;
    /* border: 1px solid rebeccapurple; */
    width: 1177px;
    margin: auto;
    position: relative;
    top: 8.854vh;
    align-items: flex-end;
    justify-content: space-between;
}

.fieldKiri {
    width: max-content;
    /* border: 1px solid red; */
}

.judulBgm {
    display: flex;
    align-items: end;
    width: 607px;
}

.judul1 {
    color: #F5F5F5;
    font-family: "Manrope", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    height: 73px;
    width: 411px;
}

.buttonBgm {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bgm {
    width: 131px;
    height: 35px;
    background-color: transparent;
    border: 1.2px solid #DF0ACA;
    border-radius: 50px;
    color: #F5F5F5;
    font-family: "Manrope", sans-serif;
    font-size: 0.938rem;
}

.iconBgm {
    width: 38px;
    height: 38px;
}

.subJudulBgm {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    top: 1.172vh;
    width: 646px;
}

.asset1 {
    width: 159px;
    height: 58px;
}

.subJudul {
    color: #F5F5F5;
    font-family: "Manrope", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    height: 87px;
    width: 471px;
}

.fieldKanan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    /* border: 1px solid red; */
    height: max-content;
}

.deskripsi {
    font-size: 1.25rem;
    font-family: "Manrope", sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    color: #F5F5F5;
}

.learnMore {
    display: flex;
    gap: 8px;
}

.buttonLearnMore {
    width: 131px;
    display: block;
    height: 38px;
    color: #F5F5F5;
    font-size: 0.938rem;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    text-decoration: none;
    border: 1.2px solid #DF0ACA;
    align-content: center;
    text-align: center;
    border-radius: 50px;
}

.iconDeskripsi {
    width: 38px;
    height: 38px;
}